---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Nate Yomtoob',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'About Me', href: '/about' },
      { text: 'New Takes', href: '/blog' },
    ]}
  >
    <Fragment slot="title">
      Welcome, I'm <span class="text-accent light:text-blue">Nate</span>
    </Fragment>

    <Fragment slot="subtitle">
       Using this to hold myself accountable to writing more and to keep learning.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Topics:" description="Sports · Gaming · Film and TV" />

  <!-- What I write about ************ -->

  <Features2
    title="What I write about"
    subtitle="A mix of takes, breakdowns, and whatever's on my mind."
    items={[
      {
        title: 'Sports',
        description: 'Football, basketball, and NASCAR: classic game stories, takes, analysis, and statistical overview.',
        icon: 'tabler:ball-basketball',
      },
      {
        title: 'Gaming',
        description: 'Game theory: Deadlock, Valorant, COD, and anything that piques my interest.',
        icon: 'tabler:device-gamepad-2',
      },
      {
        title: 'Film and TV',
        description: 'Impactful movies and shows: reviews, analysis, and recommendations.',
        icon: 'tabler:movie',
      },
    ]}
  />

  <!-- Latest Posts ****************** -->

  <BlogLatestPosts
    title="Latest posts"
    information="The latest from the blog — new posts added regularly."
  />

</Layout>